#image_1 {
    height: 50px;
}
#div_1 {
    background-color: cadetblue;
    border-radius: 5px;
    width: 1250px;
    height: 400px;
}
div {
    height: 200px;
}

h3 {
    color:crimson
}